.AboutMe {
  display: flex;
  flex-direction: column;
  //   margin-bottom: $mb-1-5;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    height: $image-height;
    margin-bottom: $mb-1-5;
  }

  &__title {
    margin-bottom: $mb-1-5;
    color: $second-color;
    font-size: $h1-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    color: $text-color;
  }

  &__contactInfo {
    margin-top: $mb-1-5;
    justify-content: center;
    align-items: center;
  }

  &__link {
    margin-right: $mb-1-5 !important;
    cursor: pointer;
    transition: 0.4s !important;
    font-size: 2rem !important;
    color: $first-color !important;
    margin-bottom: 0 !important;
  }

  &__link:hover {
    color: $third-color !important;
    transform: scale(1.2);
  }
}

@media screen and (min-width: 600px) {
  .AboutMe {
    flex-direction: row;

    &__img {
      align-items: flex-start;
    }

    &__title {
      justify-content: flex-start;
    }

    &__text {
      padding: 0 0 0 $pl-4;
    }

    &__contactInfo {
      justify-content: flex-start;
    }
  }
}

@media screen and (min-width: 850px) {
  .AboutMe {
    img {
      height: $image-height-large;
    }
  }
}
