.AboutMe {
  img {
    height: $image-height;
    margin-bottom: $mb-1-5;
  }

  &__content {
    flex-direction: column;
  }

  &__title {
    margin-bottom: $mb-1-5;
    color: $first-color;
    font-size: $h1-font-size;
  }

  &__description {
      color:$text-color;
  }
}
