.Contact {
  padding: 0 $pl-2 $pl-2;
  text-align: center;

  &_subtitle {
    color: $text-color-light;
    font-size: $normal-font-size;
    margin-bottom: $mb-2;
  }

  &__info {
    color: $second-color;
    align-items: center;
    margin-bottom: $mb-1-5;

    p {
      margin-left: $mb-1;
      color: $text-color;
    }
  }
}

@media screen and (min-width: 600px) {
  .Contact {
    &__info {
      font-size: $h2-font-size;
      margin: $mb-2-5;
    }
  }
}
