.DesignCard {
  animation-duration: 0.8s;
  animation-name: fadein;
  height: 50%;
  overflow: hidden;

  img {
    // position: relative;
    height: 100%;
  }

  &__button {
    background-color: red;
    // position: absolute;
    height: 50px;
    z-index: 100;
  }
}
