.Home {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1499571883643-44e68963973d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2560&q=80")
      center;
  background-size: cover;
  color: $dark-theme-text;

  &__text {
    position: absolute;
    top: 30%;
    left: 25%;
  }

  &__name {
    font-size: $biggest-font-size;
    margin-bottom: $mb-0-5;
  }

  &__typed {
    font-family: "Indie Flower", cursive;
    font-size: $h2-font-size;
  }
}
