.NavMenu {
  color: $light-theme-text;

  .blur-effect {
    width: 100%;
    height: 20rem;
    background-color: rgba(255, 255, 255, 0.7);
    filter: blur(5px);
    position: relative;
    
  }

  &__links {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: $h2-font-size;
    margin-bottom: $mb-1-5;

    &__link {
      margin-bottom: $mb-1;
    }
  }

  &__menu {
    position: absolute;
    width: 100%;
    font-size: $large-font-size;
    padding-left: $pl-1;
    z-index: $z-fixed;
    color: $dark-theme-text;

    &--close {
      color: $light-theme-text;
    }
  }

  &--scroll {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -8px #000000;
    color: $light-theme-text;
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
}

@media screen and (min-width: 600px) {
  .showMenu {
    visibility: hidden;
  }
}
