.Navbar {
  height: $nav-height;
  z-index: $z-fixed;
  color: $dark-theme-text;
  transition-timing-function: ease-in;
  transition: 0.5s;
  justify-content: flex-end;
  align-items: center;

  &__links {
    justify-content: flex-end;
    align-items: center;
    padding: $pl-1-5 $pl-2-5;
  }

  .showLinks {
    visibility: hidden;
  }

  a {
    margin-left: $mb-1-5;
    font-weight: $font-bold;
  }

  .active {
    color: #ffc288 !important;
  }

  &--home {
    background-color: transparent;

    a {
      color: white;
    }
  }

  &--scroll {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 10px -8px #000000;

    a {
      color: black;
    }
  }
}

@media screen and (min-width: 600px) {
  .Navbar {
    .showLinks {
      visibility: initial;
    }
  }
}
