.ProjectCard {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: $dark-theme-text;
  text-align: center;
  box-shadow: 1px 3px 10px 3px rgba(126, 126, 126, 0.1);

  &__img {
    height: $height-12;
    width: $image-height-large;

    img {
      height: 100%;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &:hover {
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
    cursor: pointer;

    .ProjectCard__label {
      opacity: 1;
      transition: 0.6s ease-in-out;
    }
  }

  &__label {
    background-color: rgba(12, 12, 12, 0.85);
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0;

    &__container {
      height: 100%;
      width: 100%;
    }

    &__title {
      
    }

    &__button {
      p {
        margin-right: $mb-0-25;
      }
      
      margin-top: $mb-1;
      border: 1px solid $dark-theme-text;
      padding: $pl-0-5;
      font-size: $small-font-size;
      color: rgba(255, 255, 255, 0.8);
    }

    &__button:hover {
      color: $active-color;
      border: 1px solid $active-color;
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
    }

    &__githubLogo {
      font-size: $h2-font-size;
      position: absolute;
      right: $pl-1-5;
      bottom: $pl-1;
      color: rgba(255, 255, 255, 0.8);
    }

    &__githubLogo:hover {
      color: white;
      transform: scale(1.1);
      transition: 0.4s ease-in-out;
    }
  }
}
