.TabPanel {
  display: grid;
  place-items: center;

  &__projects {
    display: grid;
    place-items: center;
    gap: $mb-2;
    margin-top: $mb-2-5;
  }

  &__project {
    animation-duration: 0.8s;
    animation-name: fadein;
  }

  &__designs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: $mb-2-5;
    gap: $mb-2;

    img {
      width: $image-height-large;
      border-radius: 8px;
      box-shadow: 1px 3px 10px 3px rgba(126, 126, 126, 0.1);
      border-radius: 8px;
    }
  }
}

@media screen and (min-width: 750px) {
  .TabPanel {
    &__projects {
      grid-template-columns: repeat(2, $image-height-large);
    }
  }
}

@media screen and (min-width: 1200px) {
  .TabPanel {
    &__projects {
      grid-template-columns: repeat(3, $image-height-large);
    }
  }
}

