@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import "./var";
@import "./home";
@import "./navMenu";
@import "./navbar";
/* ===== Base ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
a {
  cursor: pointer;
  text-decoration: none;
}

/* ===== Reuseable CSS Classes ===== */
.container {
  min-height: 100vh;
}

.center {
  display: grid;
  place-items: center;
}

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }

  &-center {
    justify-content: center;
    align-items: center;
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
